body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative; /* torna o .container um ponto de referência para o posicionamento absoluto */
  width: 960px;
  height: 600px;
  margin: 60px auto;
  padding: 40px;
  /* background-color: white; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
  background-image: url(../imagens/bg14.png);
}

/* TOPO */
.container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  z-index: -1;
}

/* BASE */
.container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(180deg);
  transform-origin: center;
  z-index: -1;
}

/* LATERAL ESQUERDA */
.container .side-left {
  content: "";
  position: absolute;
  top: 600px;
  left: -16px;
  width: 600px;
  height: 100%;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(270deg);
  transform-origin: top left;
  z-index: -1;
}

/* LATERAL DIREITA */
.container .side-right {
  content: "";
  position: absolute;
  top: 600px;
  right: -10px;
  width: 600px;
  height: 100%;
  background-image: url("../imagens/f-ue.gif");
  background-repeat: repeat-x;
  transform: rotate(90deg);
  transform-origin: top right;
  z-index: -1;
}

.clouds {
  z-index: -2;
}

nav {
  background-color: #a0b18b;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  /* background-color: aqua; */
  padding: 20px;
  position: relative;
  min-height: 300px;
  font-family: sans-serif;
  display: flex; /* Adiciona flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (se a main tiver altura definida) */
}

.imagem-inferior-esquerda {
  position: absolute;
  bottom: -50px;
  left: -80px;
  max-width: 150px;
  height: auto;
}

/* .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  } */

/* Para telas com largura máxima de 768 pixels (tablets, por exemplo) */
@media (max-width: 768px) {
  .container {
    max-width: 95%; /* Ocupa 95% da largura em telas menores */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Para telas ainda menores (celulares, por exemplo) */
@media (max-width: 480px) {
  .container {
    max-width: 100%; /* Ocupa toda a largura em telas pequenas */
    margin: 0; /* Remove as margens laterais em telas pequenas */
  }
}

/* QUIZ */
.quiz-container {
  background-color: #a0b18b;
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  width: 80%;
  max-width: 600px;
  margin: 0;
  display: none;
}

.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.answers button {
  background-color: #ffffff00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  text-align: left;
}

.answers button:hover {
  background-color: #9b7762;
}

.answers button.correct {
  color: rgb(73, 121, 84);
}

.answers button.wrong {
  /* background-color: #e66864; */
  color: #ffffff;
}

.next-btn,
.retry-btn {
  background-color: #9b7762;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  display: none;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.next-btn:hover,
.retry-btn:hover {
  background-color: #8a6b5a;
}

.results {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: none;
}

.start-btn {
  background-color: #a0b18b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #889678de;
}

.feedback {
  margin-top: 15px;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}
